div.container
  canvas id="bookChart" width="400" height="400" data-labels="#{@stats_library_books.keys}" data-results="#{@stats_library_books.values}"
  canvas id="quoteChart" width="400" height="400" data-labels="#{@stats_quotes.keys}" data-results="#{@stats_quotes.values}"
