.button-edit {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  background-color:green;
  transition: all 0.2s;
  opacity: 0.8;
  color: #FFFFFF;
}
.button-edit:hover{
  opacity: 1;
  }

.button-find {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  opacity: 0.8;
}
.button-edit:hover{
  opacity: 1;
  }
.button-discover {
  margin: 99px 271px;
  display: inline-block;
  padding: 1em 1.2em;
  border-radius: 31px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  background-color: rgb(41,44,47);
  transition: all 0.2s;
  opacity: 0.5;
  color: #FFFFFF;
}
.button-discover:hover{
  opacity: 1;
}

.button-delete {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  background-color:red;
  transition: all 0.2s;
  opacity: 0.8;
  color: #FFFFFF;
}

.button-delete:hover{
  opacity: 1;
  }
  .button-edito {
    color: black !important;
    text-decoration: none;
    background:green;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 15px;
    font-family: 'Libre Franklin';
    }
  .button-edito:hover {
    background: #434343;
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    }
  
  .avatar-rank {
    width: 33px;
    position: absolute;
    left: 0px;
    top: -19px;
    border-width: thin;
    color: palevioletred;
    border-radius: 50%;
    height: 30px;
    font-size: 23px;
    opacity: 0.69;
  }
  .button-buy {
    position: absolute;
    background: rgb;
    right: 13px;
    bottom: 9px;
    height: 30px;
    background-color: #f6cb2e;
    border-radius: 4px;
    color: white;
    border: none;
    opacity: 0.80;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .button-buy:hover {
    opacity: 1;
  }