.button-edit {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  background-color:green;
  transition: all 0.2s;
  opacity: 0.8;
  color: #FFFFFF;
}
.button-edit:hover{
  opacity: 1;
  }

.button-delete {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  background-color:red;
  transition: all 0.2s;
  opacity: 0.8;
  color: #FFFFFF;
}
.button-delete:hover{
  opacity: 1;
  }