.search-bar {
  border: solid;
  width: 46%;
  border-width: 1px;
  border-radius: 3px;
  margin-top: 20px;
  background: white;
  :focus {
    outline: none !important;
  }
  input {
    border: none;
    width: 31rem;
    height: 2rem;
    padding-left: 10px;
  }
  button {
    background: white;
    border:none;
  }
}

.search-bar-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.tabs-search {
  display: flex;
  justify-content: space-around;
}

.sign-bar {
  border: solid;
  width: 92%;
  height: 43px;
  border-width: 1px;
  border-radius: 3px;
  margin-top: 20px;
  background: white;
  padding-left: 10px;
  margin-left: 2%;
}