

.side-bar {
  opacity:0.96;
  overflow:hidden;
  z-index:1000;
  position: absolute;
  width:80%;
  height:670px;
  background-color:black;
  transition-property: width;
  transition-duration: 0.3s;
}

.side-bar-hidden {
  width:0px;

}

.top-side-bar {
  display:grid;
  margin-left:37px;
}

.top-side-bar h1 {
  font-size:20px;
}

.bottom-side-bar {
  margin-left:30px;
  margin-top:57px;
  border-top:solid 1px white;
  h2 {
  font-size:20px;
  line-height: 46px;
  text-decoration: none;
    a {
      color:white;
    }
  }
}

.quit-nav{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    margin-bottom: 0px;
}
