/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Graphical variables
@import "config/colors";

// //CONFIGURATION
// @import './configuration/variables';
@import './config/utilities';

// // COMPONENTS
// @import './components/buttons';
// @import './components/cards';
// @import './components/carousel';
// @import './components/flashes';
// @import './components/forms';
// @import './components/footer';
// @import './components/header';
// @import './components/iframes';
// @import './components/images';
// @import './components/modals';
// @import './components/progress_bars';
// @import './components/typography';

// // PAGES
// @import './pages/pages';

// FONTS
@font-face {
  font-family: 'Libre Baskerville';
  src: asset-url('LibreBaskerville-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  src: asset-url('LibreFranklin-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  src: asset-url('DancingScript-VariableFont_wght.ttf') format('truetype');
}

@import "font-awesome-sprockets";
@import "font-awesome";

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  background:rgb(244, 242, 234);
  // background-image: url("https://cdn.pixabay.com/photo/2016/12/30/19/33/children-1941336_960_720.png");
}

body {
  height: 100vh;
  font-family: "Libre Baskerville";
}
#main{
  max-width:100%;
  margin:0 auto;
  position:relative;
  }

.title {
  padding: 27px;
}

.accueil {
  width: 100%;
  height: 620px;
  background: #333;
  background: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}
.quote-text {
  font-size:50px;
  padding-top: 100px;
  width: 55%;
  margin-left: 26px;
}

h1 {
  font-family: "Libre Franklin";
  height: 100%;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.radio {
  font-size: 14px;
  margin:4px;
  margin-bottom: 6px;
  input{
    margin-right: 4px;
  }
}